.customer-container {
    width: 80%;
    padding: 2rem;
    background-color: #13111D;
    border-radius: 10px;
}

.customers-table {
    color: white;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;

    & thead {
        font-size: 1.2rem;
    }

    & th,
    td {
        width: 30%;
        text-align: left;
        vertical-align: top;
        border-bottom: 1px solid #fff;
        border-left: 1px solid #fff;
        border-collapse: collapse;
        padding: 10px;
    }
}